//for under 1200px width
@media (max-width: 1200px){

	.header-nav {
		li {
			font-size:17px;
			margin: 7px;
		}
	}
	#dev {
		width: 100%;
		height: 20%;
	}

	#art{
		width: 100%;
		height: 20%;
	}

	.index {
		.work-boxes {
			p {
				font-size:5vw;
				position:relative;
				bottom: 65%;
				text-align:center;
				display:inline;
				top: 65px;
				line-height: 100%;
				vertical-align:middle;
			}
		}
	}

	.about {
		.col-xs-4 {
			width:100%;
			top:15px;
		}
		img {
			width: 262px;
			height: auto;
		}

		.col-xs-8 {
			width: 100%;
		}
		p {
			width: 100%;
			padding:0;
		}
	}

	.contact-form {
		width:120%;
		margin-left:-10%;
	}

	#hid {
		display:block;
	}

	#show {
		display:none;
	}

	.page-title {
		text-align:center;
		font-size: 28px;
	}

	.header-nav {
		a {
			padding: 4px;
			padding-bottom: 0;
		}
	}

}

@media (max-width: 776px){
	.header-nav, .body-container, .footer-nav {
		width:95%;
	}
}

//dropdown menuuuu!!!
@media (max-width: 545px){

}