//colors
$black: #000;
$white: #fff;
$main-color: #DFF5E0;
$soft-grey: #9B9B9B;
$primary-red: #FF7878;
$primary-blue: #706CFF;
$primary-yellow: #FFEB00;
$soft-black: #717171;
$softer-black: #404040;
$input-box-grey: #D4D1D1;
$valid-green: #A3D8A3;
$light-primary-blue: #C7C6F1;
$light-primary-red: #FFC8C8;
//names for paths

