@font-face {
  font-family: Milano;
  src: url(../fonts/Milano_regular.ttf);
  font-weight: 400; }
@font-face {
  font-family: Edition;
  src: url(../fonts/EDITION_.TTF); }
@font-face {
  font-family: OpenSans;
  src: url(../fonts/OpenSansLight.ttf); }
@font-face {
  font-family: NewCicle;
  src: url(../fonts/NewCicleGordita.ttf); }
@font-face {
  font-family: LongTall;
  src: url(../fonts/LongTall.ttf); }
@font-face {
  font-family: Ikaros;
  src: url(../fonts/Ikaros.otf); }
@font-face {
  font-family: Fox;
  src: url(../fonts/Fox.ttf); }
.splash {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 50px;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  background: #FF7878;
  text-align: center;
  opacity: 0.9;
  filter: alpha(opacity=90);
  border-right: 19px solid #FFEB00;
  border-bottom: 19px solid #706CFF;
  border-top: 3px dotted #717171;
  border-left: 3px dotted #717171; }
  .splash h1 {
    font-size: 65px;
    font-family: Fox;
    margin-top: 0;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    margin-bottom: 0;
    color: #ffffff; }
  .splash p {
    font-size: 20px;
    color: #ffffff; }
  .splash a {
    display: block;
    margin-top: 45px;
    margin-bottom: -20px;
    font-weight: 100;
    padding: 15px;
    text-decoration: none;
    border: 1px solid #ffffff;
    color: #ffffff; }
  .splash p, .splash a {
    font-family: Fox; }

.title {
  position: relative;
  text-align: center;
  font-size: 90px;
  font-family: LongTall;
  margin: auto;
  padding-top: 14px;
  padding-bottom: 10px;
  -webkit-font-smoothing: antialiased;
  font-weight: 100; }
  .title a {
    text-decoration: none;
    color: #404040; }

.header-nav {
  width: 60%;
  margin: auto;
  position: relative;
  clear: both;
  overflow: hidden; }
  .header-nav ul {
    border-bottom: 11px solid #FF7878;
    border-top: 7px double #706CFF;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    vertical-align: middle; }
  .header-nav li {
    color: #9B9B9B;
    font-size: 20px;
    font-weight: 100;
    font-family: Fox;
    margin: 10px;
    padding-top: 5px;
    text-align: center;
    display: inline-block; }
  .header-nav .btn-group {
    float: right;
    vertical-align: middle;
    margin-top: 2px;
    margin-right: 3px;
    margin-left: -60px;
    display: inline-block; }
  .header-nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    padding-bottom: 2px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    font-weight: 900; }
  .header-nav a:hover {
    width: 30px;
    padding: 6px;
    padding-bottom: 2px;
    background: black;
    margin-right: 13px;
    color: white;
    border: 0; }

.about {
  margin-top: 7%; }
  .about img {
    width: 50%;
    height: auto;
    margin: -7% 0 18% 36%; }
  .about p {
    margin-right: 8%;
    margin-left: -3%; }

.footer-nav {
  width: 60%;
  margin: auto;
  position: relative;
  clear: both;
  overflow: hidden; }
  .footer-nav ul {
    margin-top: 13px;
    padding-bottom: 2px;
    border-top: 7px double #FF7878;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    vertical-align: middle; }
  .footer-nav li {
    color: #564E4E;
    font-size: 13px;
    font-weight: 100;
    font-family: Fox;
    margin: 10px;
    margin-left: -30px;
    padding-top: 5px;
    float: left;
    display: inline-block; }
  .footer-nav .btn-group {
    float: right;
    vertical-align: middle;
    margin-top: 2px;
    margin-right: 3px;
    margin-left: -60px;
    display: inline-block; }
  .footer-nav img {
    vertical-align: bottom;
    padding: 2px;
    padding-top: 6%; }
  .footer-nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    font-weight: 900; }
  .footer-nav a:hover {
    width: 30px;
    padding: 6px;
    background: black;
    margin-right: 13px;
    color: white; }

.body-container {
  border: 7px double #FFEB00;
  margin: auto;
  width: 60%;
  overflow: hidden;
  padding: 40px; }
  .body-container p {
    font-family: OpenSans;
    padding: 10px 30px;
    font-size: 15px; }

.contact-form {
  text-align: center;
  margin: auto;
  position: relative;
  width: 66%;
  margin-bottom: 2%;
  margin-top: 3%;
  font-family: Fox; }
  .contact-form .section {
    width: 66%;
    margin: auto; }
    .contact-form .section label {
      display: inline-block;
      float: left;
      width: 100px;
      font-size: 15px;
      font-weight: 900;
      color: black; }
    .contact-form .section input {
      vertical-align: top;
      width: 100%;
      height: 2em;
      border: 2px solid #D4D1D1; }
    .contact-form .section textarea {
      vertical-align: top;
      width: 100%;
      height: 6em;
      border: 2px solid #D4D1D1; }
    .contact-form .section input.invalid, .contact-form .section textarea.invalid {
      border: 2px dotted #FF7878; }
    .contact-form .section input.valid, .contact-form .section textarea.valid {
      border: 2px solid #A3D8A3; }
    .contact-form .section .error {
      display: none;
      margin-left: 10px; }
    .contact-form .section .error_show {
      color: red;
      margin-left: 10px;
      font-weight: 900; }
  .contact-form button {
    border: 2px solid #717171;
    background: none;
    font-family: NewCicle;
    padding: 5px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }
  .contact-form button:hover {
    background: black;
    color: white;
    border-color: black; }

.gallery {
  width: 87%;
  margin: 0 auto;
  margin-bottom: 30px; }
  .gallery .thumbnail {
    width: 394px;
    height: 313px;
    border: none;
    overflow: hidden;
    margin: 25px;
    padding: 10px;
    text-align: center;
    box-shadow: 8px 8px 20px #9B9B9B; }
    .gallery .thumbnail img {
      position: relative;
      left: 50%;
      top: 50%;
      height: 100%;
      width: auto;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      overflow: hidden;
      -webkit-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out; }
    .gallery .thumbnail img.portrait {
      width: 100%;
      height: auto; }
    .gallery .thumbnail p {
      position: absolute;
      font-size: 20px;
      margin: auto;
      opacity: 0;
      bottom: 50%;
      left: 33%;
      background: black;
      color: white;
      z-index: 99;
      -webkit-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out; }
    .gallery .thumbnail a {
      text-decoration: none; }
  .gallery .thumbnail:hover img {
    filter: blur(4px) opacity(0.7);
    -webkit-filter: blur(4px) opacity(0.7); }
  .gallery .thumbnail:hover p {
    opacity: 0.7;
    background: black; }
  .gallery .thumbnail:hover a {
    color: white;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.5s ease;
    border-bottom: 1px transparent; }

.view-art {
  width: 97%;
  margin: 0 auto; }
  .view-art img {
    width: 100%;
    height: auto; }
  .view-art p {
    padding-left: 12%;
    width: 83%; }

#c {
  position: absolute;
  width: 100%; }

.index {
  margin: 0 auto;
  width: 93%; }
  .index .work-boxes {
    height: 42%;
    width: 44%;
    position: relative;
    margin: 3%;
    text-align: center;
    border: 1px solid white; }
    .index .work-boxes p {
      font-size: 70px;
      font-family: LongTall;
      color: white;
      margin-top: 34%; }
  .index #dev {
    background-color: #706CFF;
    -webkit-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out; }
  .index #art {
    background-color: #FF7878; }
  .index #dev:hover {
    background-color: black; }
  .index #art:hover {
    animation: myfirst 3s;
    -moz-animation: myfirst 3s infinite;
    /* Firefox */
    -webkit-animation: myfirst 3s infinite;
    /* Safari and Chrome */ }
@-moz-keyframes myfirst /* Firefox */ {
  0% {
    background: #FF7878; }
  20% {
    background: #FFC8C8; }
  50% {
    background: #ffbc78; }
  65% {
    background: #aedf68; }
  85% {
    background: #8bcaf9; }
  100% {
    background: #FF7878; } }
@-webkit-keyframes myfirst /* Safari and Chrome */ {
  0% {
    background: #FF7878; }
  20% {
    background: #FFC8C8; }
  50% {
    background: #ffbc78; }
  65% {
    background: #aedf68; }
  85% {
    background: #8bcaf9; }
  100% {
    background: #FF7878; } }
.rounded-corners {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px; }

.page-title {
  font-family: Fox;
  color: black;
  text-align: left;
  margin: 1% 0 3% 6%;
  border-bottom: 1px solid #D4D1D1;
  width: 88%; }

/*# sourceMappingURL=base.css.map */
