@import "variables";

.s {
	background-image: url("shape2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size:1000px;
    width:100%;
    opacity: 0.1;
    z-index: -5;
}

@font-face {
    font-family: Milano;
    src: url(../fonts/Milano_regular.ttf);
    font-weight:400;
}

@font-face {
    font-family: Edition;
    src: url(../fonts/EDITION_.TTF);
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSansLight.ttf);
}

@font-face {
    font-family: NewCicle;
    src: url(../fonts/NewCicleGordita.ttf);
}

@font-face {
    font-family: LongTall;
    src: url(../fonts/LongTall.ttf);
}

@font-face {
    font-family: Ikaros;
    src: url(../fonts/Ikaros.otf);
}

@font-face {
    font-family: Fox;
    src: url(../fonts/Fox.ttf);
}



.splash {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	padding: 50px;  	/* bring your own prefixes */
 	transform: translate(-50%, -50%);
 	background: $primary-red;
 	text-align: center;
 	opacity: 0.9;
    filter: alpha(opacity=90);
    border-right: 19px solid $primary-yellow;
    border-bottom: 19px solid $primary-blue;
    border-top: 3px dotted $soft-black;
    border-left: 3px dotted $soft-black;

	//not using h1 right now
	h1 {
		font-size: 65px ;
		font-family: Fox;
		margin-top: 0;
		-webkit-font-smoothing: antialiased;
		font-weight: 100;
		margin-bottom: 0;
		color: #ffffff;
	}
	p {
		font-size: 20px;
		color:#ffffff;
	}
	a {
		display: block;
		margin-top:45px;
		margin-bottom:-20px;
		font-weight: 100;
		padding: 15px;
		text-decoration: none;
		border: 1px solid #ffffff;
		color: #ffffff;
	}

	p, a{
		font-family: Fox;
	}
}

.title{
		position: relative;
    	text-align: center;
		font-size: 90px ;
		font-family: LongTall;
		margin: auto;
		padding-top:14px;
		padding-bottom:10px;
		-webkit-font-smoothing: antialiased;
		font-weight: 100;

		a{
			text-decoration: none;
			color: #404040;
		}
}

.header-nav {
	width: 60%;
	margin: auto;
	position: relative;
	clear: both;
	overflow: hidden;

    ul {
    	border-bottom: 11px solid $primary-red;
    	border-top:7px double $primary-blue;
    	text-align: center;
    	margin-left: auto;
    	margin-right: auto;
    	overflow:hidden;
    	vertical-align:middle;
    }

    li {
		color: $soft-grey ;
		font-size: 20px;
		font-weight: 100;
		font-family: Fox;
		margin: 10px;
		padding-top: 5px;
		text-align: center;
		display: inline-block;
    }


    .btn-group{
		 float: right;
		 vertical-align:middle;
		 margin-top:2px;
		 margin-right:3px;
		 margin-left:-60px;
		 display: inline-block;
	}

    a {
		text-decoration: none;
		color: black;
		padding: 10px;
		-webkit-transition: 0.3s ease-in-out;
		transition: 0.3s ease-in-out;
		font-weight: 900;
	}
	

	a:hover {
	    //border: solid 1px #ffffff;
	    width: 30px;
	    padding: 6px;
	    background: black;
	    margin-right: 13px;
	    color:white;
	}
}

.footer-nav {
	width: 60%;
	margin: auto;
	position: relative;
	clear: both;
	overflow: hidden;

    ul {
    	margin-top: 13px;
    	padding-bottom: 2px;
    	border-top:7px double $primary-red;
    	text-align: center;
    	margin-left: auto;
    	margin-right: auto;
    	overflow:hidden;
    	vertical-align:middle;
    }

    li {
		color: $footer-font ;
		font-size: 13px;
		font-weight: 100;
		font-family: Fox;
		margin: 10px;
		margin-left:-30px;
		padding-top: 5px;
		float: left;
		display: inline-block;
    }


    .btn-group{
		 float: right;
		 vertical-align:middle;
		 margin-top:2px;
		 margin-right:3px;
		 margin-left:-60px;
		 display: inline-block;
	}

	img {
		vertical-align: bottom;
		padding:2px;
		padding-top: 6%;
		-webkit-transition: 0.2s ease-in-out;
		transition: 0.2s ease-in-out;
	}

    a {
		text-decoration: none;
		color: black;
		padding: 10px;
		-webkit-transition: 0.3s ease-in-out;
		transition: 0.3s ease-in-out;
		font-weight: 900;
	}
	

	a:hover {
	    //border: solid 1px #ffffff;
	    width: 30px;
	    padding: 6px;
	    background: black;
	    margin-right: 13px;
	    color:white;
	}
}

.body-container {
	border: 7px double $primary-yellow;
    margin: auto;
    width: 60%;

    p {
    	font-family: OpenSans;
    	padding: 10px 30px;
    	font-size:15px;
    }
}

.contact-form {
	text-align:center;
	margin: auto;
	position: relative;
	width: 66%;
	margin-bottom: 2%;
	font-family: Fox;

	h2 {
		color: black;
	}
	.section {
		width: 66% ;
		margin: auto;
		label {
			display: inline-block;
			float: left;
			width: 100px;
			font-size:15px;
			font-weight: 900;
			color: black;
		}
		input{
			vertical-align: top;
			width: 100%;
			height: 2em;
			border:2px solid $input-box-grey;
		}
		textarea {
			vertical-align: top;
			width: 100%;
			height: 6em;
			border:2px solid $input-box-grey;
		}
		input.invalid, textarea.invalid{
			border: 2px dotted $primary-red;
		}

		input.valid, textarea.valid{
			border: 2px solid $valid-green;
		}

		.error{
			display: none;
			margin-left: 10px;
		}		

		.error_show{
			color: red;
			margin-left: 10px;
			font-weight: 900;
		}
	}
	button {
		border:2px solid $soft-black;
		background: none;
		font-family: NewCicle;
		padding: 5px;
		-webkit-transition: 0.2s ease-in-out;
		transition: 0.2s ease-in-out;
	}

	button:hover {
		background: black;
		color: white;
		border-color: black;
	}
}

#c {
	position:absolute;
  	width:100%;
}

.work-boxes {
	height: 42%;
	width: 44%;
	position: relative;
	padding-top: 12%;
	margin: 3%;
	text-align: center;
	border: 1px solid white;

	p {
		font-size: 80px;
		font-family: LongTall;
		color: white;
	}

}

#dev {
	background-color: $primary-blue;
	-webkit-transition: 0.6s ease-in-out;
	transition: 0.6s ease-in-out;
}
#art {
	background-color: $primary-red;
	
}

#dev:hover {
	background-color:black;
}

#art:hover {
	animation:myfirst 3s;
    -moz-animation:myfirst 3s infinite; /* Firefox */
    -webkit-animation:myfirst 3s infinite; /* Safari and Chrome */

    @-moz-keyframes myfirst /* Firefox */
    {
    	0%   {background:$primary-red;}
    	20%  {background:$light-primary-red;}
    	50%  {background:#ffbc78;}
    	65%  {background:#aedf68}
    	85%  {background:#8bcaf9}
    	100% {background:$primary-red;}
    }
    @-webkit-keyframes myfirst /* Safari and Chrome */
    {
    	0%   {background:$primary-red;}
    	20%  {background:$light-primary-red;}
    	50%  {background:#ffbc78;}
    	65%  {background:#aedf68}
    	85%  {background:#8bcaf9}
    	100% {background:$primary-red;}
    }
}
.picture-holder {
	width: 27% ;
	height: 30% ;
	border: 1px solid black ;
	margin: 3% ;
}

.rounded-corners {
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
}