.s {
  background-image: url("shape2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 1000px;
  width: 100%;
  opacity: 0.1;
  z-index: -5; }

@font-face {
  font-family: Milano;
  src: url(../fonts/Milano_regular.ttf);
  font-weight: 400; }
@font-face {
  font-family: Edition;
  src: url(../fonts/EDITION_.TTF); }
@font-face {
  font-family: NewCicle;
  src: url(../fonts/NewCicleGordita.ttf); }
.splash {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 100px;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  background: #FFB6B6;
  text-align: center;
  opacity: 0.9;
  filter: alpha(opacity=90);
  border-right: 9px solid #FFF798;
  border-bottom: 9px solid #8D8BDC;
  border-top: 3px dotted #717171;
  border-left: 3px dotted #717171; }
  .splash h1 {
    font-size: 65px;
    font-family: Milano;
    margin-top: 0;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    margin-bottom: 0;
    color: #404040; }
  .splash p {
    font-size: 20px;
    color: #404040; }
  .splash a {
    display: block;
    margin-top: 45px;
    margin-bottom: -20px;
    font-weight: 100;
    padding: 15px;
    text-decoration: none;
    border: 1px solid #404040;
    color: #404040; }
  .splash p, .splash a {
    font-family: NewCicle; }

.title {
  position: relative;
  text-align: center;
  font-size: 90px;
  font-family: Milano;
  margin: auto;
  padding-top: 14px;
  padding-bottom: 10px;
  -webkit-font-smoothing: antialiased;
  font-weight: 100; }
  .title a {
    text-decoration: none;
    color: #404040; }

.header-nav {
  width: 60%;
  margin: auto;
  position: relative;
  clear: both;
  overflow: hidden;
  /*img:hover {
  	border: solid 3px #ffffff;
      width: 30px;
      color:#ffffff;
      padding: 3px;
      background: black;
      margin-right: 9px;
  }*/ }
  .header-nav ul {
    border-bottom: 11px solid #FFB6B6;
    border-top: 4px double #8D8BDC;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    vertical-align: middle; }
  .header-nav li {
    color: #9B9B9B;
    font-size: 20px;
    font-weight: 100;
    font-family: Milano;
    margin: 10px;
    text-align: center;
    display: inline-block; }
  .header-nav .btn-group {
    float: right;
    vertical-align: middle;
    margin-top: 2px;
    margin-right: 3px;
    display: inline-block; }
  .header-nav img {
    vertical-align: middle;
    color: black;
    padding: 2px; }
  .header-nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    font-weight: 900; }
  .header-nav a:hover {
    border: solid 3px #ffffff;
    width: 30px;
    color: #ffffff;
    padding: 3px;
    background: black;
    margin-right: 9px; }

.body-container {
  border: 5px double #FFF798;
  margin: auto;
  padding-bottom: 2%;
  width: 60%; }
  .body-container p {
    font-family: NewCicle;
    padding: 10px 30px; }

.contact-form {
  text-align: center;
  margin: auto;
  position: relative;
  width: 66%;
  font-family: Milano; }
  .contact-form h2 {
    color: black; }
  .contact-form .section {
    width: 66%;
    margin: auto; }
    .contact-form .section label {
      display: inline-block;
      float: left;
      width: 100px;
      font-size: 15px;
      font-weight: 900;
      color: black; }
    .contact-form .section input, .contact-form .section textarea {
      vertical-align: top;
      width: 100%;
      height: 2em;
      border: 2px solid #717171; }
    .contact-form .section input.invalid, .contact-form .section textarea.invalid {
      border: 2px solid red; }
    .contact-form .section input.valid, .contact-form .section textarea.valid {
      border: 2px solid green; }
    .contact-form .section .error {
      display: none;
      margin-left: 10px; }
    .contact-form .section .error_show {
      color: red;
      margin-left: 10px; }
  .contact-form button {
    border: 2px solid #717171;
    background: none;
    font-family: NewCicle;
    padding: 5px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }
  .contact-form button:hover {
    background: black;
    color: white;
    border-color: black; }

#c {
  position: absolute;
  width: 100%; }

/*# sourceMappingURL=base.css.map */
