.s {
  background-image: url("shape2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 1000px;
  width: 100%;
  opacity: 0.1;
  z-index: -5; }

@font-face {
  font-family: Milano;
  src: url(../fonts/Milano_regular.ttf);
  font-weight: 400; }
@font-face {
  font-family: Edition;
  src: url(../fonts/EDITION_.TTF); }
@font-face {
  font-family: NewCicle;
  src: url(../fonts/NewCicleGordita.ttf); }
@font-face {
  font-family: LongTall;
  src: url(../fonts/LongTall.ttf); }
@font-face {
  font-family: Ikaros;
  src: url(../fonts/Ikaros.otf); }
@font-face {
  font-family: Fox;
  src: url(../fonts/Fox.ttf); }
.splash {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 50px;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  background: #FF7878;
  text-align: center;
  opacity: 0.9;
  filter: alpha(opacity=90);
  border-right: 19px solid #FFEB00;
  border-bottom: 19px solid #706CFF;
  border-top: 3px dotted #717171;
  border-left: 3px dotted #717171; }
  .splash h1 {
    font-size: 65px;
    font-family: Fox;
    margin-top: 0;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    margin-bottom: 0;
    color: #ffffff; }
  .splash p {
    font-size: 20px;
    color: #ffffff; }
  .splash a {
    display: block;
    margin-top: 45px;
    margin-bottom: -20px;
    font-weight: 100;
    padding: 15px;
    text-decoration: none;
    border: 1px solid #ffffff;
    color: #ffffff; }
  .splash p, .splash a {
    font-family: Fox; }

.title {
  position: relative;
  text-align: center;
  font-size: 90px;
  font-family: LongTall;
  margin: auto;
  padding-top: 14px;
  padding-bottom: 10px;
  -webkit-font-smoothing: antialiased;
  font-weight: 100; }
  .title a {
    text-decoration: none;
    color: #404040; }

.header-nav {
  width: 60%;
  margin: auto;
  position: relative;
  clear: both;
  overflow: hidden; }
  .header-nav ul {
    border-bottom: 11px solid #FF7878;
    border-top: 7px double #706CFF;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    vertical-align: middle; }
  .header-nav li {
    color: #9B9B9B;
    font-size: 20px;
    font-weight: 100;
    font-family: Fox;
    margin: 10px;
    padding-top: 5px;
    text-align: center;
    display: inline-block; }
  .header-nav .btn-group {
    float: right;
    vertical-align: middle;
    margin-top: 2px;
    margin-right: 3px;
    margin-left: -60px;
    display: inline-block; }
  .header-nav img {
    vertical-align: middle;
    padding: 2px;
    padding-top: 6%;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }
  .header-nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    font-weight: 900; }
  .header-nav a:hover {
    width: 30px;
    padding: 6px;
    background: black;
    margin-right: 13px;
    color: white; }

.body-container {
  border: 7px double #FFEB00;
  margin: auto;
  width: 60%; }
  .body-container p {
    font-family: NewCicle;
    padding: 10px 30px;
    font-size: 20px; }

.contact-form {
  text-align: center;
  margin: auto;
  position: relative;
  width: 66%;
  margin-bottom: 2%;
  font-family: Fox; }
  .contact-form h2 {
    color: black; }
  .contact-form .section {
    width: 66%;
    margin: auto; }
    .contact-form .section label {
      display: inline-block;
      float: left;
      width: 100px;
      font-size: 15px;
      font-weight: 900;
      color: black; }
    .contact-form .section input {
      vertical-align: top;
      width: 100%;
      height: 2em;
      border: 2px solid #D4D1D1; }
    .contact-form .section textarea {
      vertical-align: top;
      width: 100%;
      height: 6em;
      border: 2px solid #D4D1D1; }
    .contact-form .section input.invalid, .contact-form .section textarea.invalid {
      border: 2px dotted #FF7878; }
    .contact-form .section input.valid, .contact-form .section textarea.valid {
      border: 2px solid #A3D8A3; }
    .contact-form .section .error {
      display: none;
      margin-left: 10px; }
    .contact-form .section .error_show {
      color: red;
      margin-left: 10px;
      font-weight: 900; }
  .contact-form button {
    border: 2px solid #717171;
    background: none;
    font-family: NewCicle;
    padding: 5px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out; }
  .contact-form button:hover {
    background: black;
    color: white;
    border-color: black; }

#c {
  position: absolute;
  width: 100%; }

.work-boxes {
  height: 42%;
  width: 44%;
  position: relative;
  padding-top: 12%;
  margin: 3%;
  text-align: center;
  border: 1px solid white; }
  .work-boxes p {
    font-size: 80px;
    font-family: LongTall;
    color: white; }

#dev {
  background-color: #706CFF;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out; }

#art {
  background-color: #FF7878; }

#dev:hover {
  background-color: black; }

#art:hover {
  animation: myfirst 3s;
  -moz-animation: myfirst 3s infinite;
  /* Firefox */
  -webkit-animation: myfirst 3s infinite;
  /* Safari and Chrome */ }
@-moz-keyframes myfirst /* Firefox */ {
  0% {
    background: #FF7878; }
  20% {
    background: #FFC8C8; }
  50% {
    background: #ffbc78; }
  65% {
    background: #aedf68; }
  85% {
    background: #8bcaf9; }
  100% {
    background: #FF7878; } }
@-webkit-keyframes myfirst /* Safari and Chrome */ {
  0% {
    background: #FF7878; }
  20% {
    background: #FFC8C8; }
  50% {
    background: #ffbc78; }
  65% {
    background: #aedf68; }
  85% {
    background: #8bcaf9; }
  100% {
    background: #FF7878; } }
.picture-holder {
  width: 27%;
  height: 30%;
  border: 1px solid black;
  margin: 3%; }

.rounded-corners {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px; }

/*# sourceMappingURL=base.css.map */
